
@{
    ViewBag.Title = "PageError";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error 404</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Travel Error Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link rel="stylesheet" href="~/Error/css/404page.css" type="text/css" media="all" /><!-- Style-CSS -->
</head>
<body>
    <section class="forms-24">
        <div class="form-25-mian">
            <div class="wrapper">
                <br />
                <br />
                <br />
                <div class="form-inner-cont">
                    <div class="forms-25-info">
                        <div class="column form-bottom-img">
                            <img src="~/Error/images/error.jpg" alt="img" class="img-responsive">
                        </div>
                        <div class="column">
                            <h3>404</h3>
                            <p>Səhifə tapılmadı</p>
                            <p>Bəlkə ana səhifəyə qayıdıb sorğunu yenidən yoxlayasız ?</p>	<a href="/Kateqoriya/Index/" class="actionbg">Ana səhifə</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>