
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <h2>Murad Aliyev</h2>
    <img style="width:4cm;height:4cm; border-radius:100%" src="https://i.hizliresim.com/qs46ge4.jpg" />
    </div>

