<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Qeydiyyat formu</h3>
        <div class="login-agileits-top">
            <form method="post">
                <input type="text" class="name" name="MusteriAd" Placeholder="Ad" required="" />
                <input type="text" class="name" name="MusteriSoyad" Placeholder="Soyad" required="" />
                <input type="text" class="phone" name="MusteriSeher" Placeholder="Şəhər" required="" />
                <input type="text" class="email" name="MusteriMail" Placeholder="Mail" required="" />
                <input type="password" class="password" name="MusteriSifre" Placeholder="Şifrə" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> <a href="#"> Qəbul edirəm</a></label>
                </div>
                <input type="submit" value="Qeydiyyatdan keç">
            </form>
        </div>
    </div>
</div>
