
<div class="col-md-3">

    <a href="/MusteriPANEL/YeniMesaj" class="btn btn-primary btn-block mb-3">
        <img src="~/ICONS/new_message_30px.png" /> Yeni mesaj yarat
    </a>

    <div class="card">

        <div class="card-header">

            <h3 class="card-title">Fayllar</h3>

            <div class="card-tools">

                <button type="button" class="btn btn-tool" data-card-widget="collapse">

                    <i class="fas fa-minus"></i>

                </button>

            </div>

        </div>

        <div class="card-body p-0">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                    <a href="/MusteriPANEL/Mesajlar" class="nav-link">
                        <i class="fas fa-inbox"></i> Gələn mesajlar
                        <span class="badge bg-success float-right">@ViewBag.mesaj1</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/MusteriPANEL/GonderilenMesajlar" class="nav-link">
                        <i class="far fa-envelope"></i> Göndərilən mesajlar
                        <span class="badge bg-warning float-right">@ViewBag.mesaj2</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="far fa-trash-alt"></i> Zibil qutusu
                        <span class="badge bg-danger float-right">@ViewBag.mesaj3</span>
                    </a>
                </li>

            </ul>

        </div>

        <!-- /.card-body -->

    </div>

    <!-- /.card -->

    <div class="card">

        <div class="card-header">

            <h3 class="card-title">Labels</h3>

            <div class="card-tools">

                <button type="button" class="btn btn-tool" data-card-widget="collapse">

                    <i class="fas fa-minus"></i>

                </button>

            </div>

        </div>

        <div class="card-body p-0">

            <ul class="nav nav-pills flex-column">

                <li class="nav-item">

                    <a href="#" class="nav-link">

                        <i class="far fa-circle text-danger"></i>

                        Important

                    </a>

                </li>

                <li class="nav-item">

                    <a href="#" class="nav-link">

                        <i class="far fa-circle text-warning"></i> Promotions

                    </a>

                </li>

                <li class="nav-item">

                    <a href="#" class="nav-link">

                        <i class="far fa-circle text-primary"></i>

                        Social

                    </a>

                </li>

            </ul>

        </div>

        <!-- /.card-body -->

    </div>

    <!-- /.card -->

</div>